<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="WumpusMonitor">

	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} %msg%n
				</Pattern>
			</PatternLayout>
		</Console>

		<RollingFile name="rolling_file"
            fileName="${sys:logPath:-./}/wumpusMonitor.log"
			filePattern="${sys:logPath:-./}/wumpusMonitor.log.%i" append="true">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-18t %-20C{1} %-5level %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="128 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>
	<Loggers>
        <Logger name="de.unirostock" level="${sys:logLevel:-debug}" additivity="false">
			<AppenderRef ref="rolling_file" />
		</Logger>
		<Root level="warn">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
